.column {
  background-color: var(--bg-secondary);
  border-radius: 5px;
  padding: 15px;
  width:100%;
  min-width: 620px;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  transition: all 0.3s ease;
}
.column:hover {
  box-shadow: 0 3px 10px var(--shadow-md);
}
.column-header {
  display: flex;
  gap: 15px;
  flex-direction: row;
}
.column-title {
  font-size: 24px;
  font-weight: bold;
  color: var(--text-primary);
}
